/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

a {
    text-decoration: none;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #0d6efd;
    padding: 1rem 2rem;
    align-items: center;
  
}
.ri-menu-line{
    display: none;
}

.navbar .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}

.navbar a {
    color: #fff;
    margin: 0.4rem;
    font-weight: 500;
}

.navbar a:hover {
    color: #ffdd57;
}

/* CATEGORY SECTION */
.categories-section {
    padding: 3rem 2rem;
    text-align: center;
}

.categories-section h1 {
    color: #0d6efd;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: #555;
    margin-bottom: 2rem;
}

/* CATEGORY GRID */
.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.cat-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cat-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.cat-card h3 {
    padding: 1rem;
    font-size: 1.2rem;
    color: #0d6efd;
}

.cat-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 35px rgba(0,0,0,0.15);
}

/* FOOTER */
footer {
    background-color: #0d6efd;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.footer-links a {
    color: #ffdd57;
    margin: 0 0.5rem;
}

/* RESPONSIVE */
@media (max-width: 760px) {
    .navbar {
        height: 10vh;
        flex-direction: column;
       
    }

    .navbar a {
        margin: 0.3rem 0;
        display: none;
    }
  
   .ri-menu-line{
    display: inline-block;
    font-size: 2rem;
    color: white;
   }
    .cat-card img {
        height: 150px;
    }
}

/* @media (max-width: 450px) {
    .categories-section h1 {
        font-size: 1.7rem;
    }
} */